version: "3.7"

services:
  # База данных
  postgres:
    image: postgres:10-alpine
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file: .env

  # Бэкенд Django
  backend:
    build:
      context: ./backend
    depends_on:
      - postgres
    volumes:
      - ./backend:/app
    command: /start.sh
    entrypoint: /entrypoint.sh
    restart: on-failure
    env_file: .env

  # Сборка фронтенда
  frontend:
    image: node:10-alpine
    command: npm run serve
    volumes:
      - ./.env:/app/.env:ro
      - ./frontend:/app
    working_dir: /app
    restart: on-failure

  # Веб-сервер
  nginx:
    image: nginx:alpine
    ports:
      - "8002:80"
    depends_on:
      - backend
    volumes:
      - ./backend/media/:/media/
      - ./backend/staticfiles/:/staticfiles/
      - ./nginx/dev.conf:/etc/nginx/nginx.conf:ro

volumes:
  db_data: {}
