autopep8
Django
django-import-export
mysqlclient
django-admin-interface
psycopg2-binary>=2.8
django-environ
django-admin-rangefilter
docx
docxtpl
python-docx
jinja2
number_to_string
gunicorn
gevent
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability