autopep8
Django
django-import-export
mysqlclient
django-admin-interface
psycopg2-binary>=2.8
django-environ
django-admin-rangefilter
docx
docxtpl
python-docx
jinja2
# django-admin-notifications
-e git+https://github.com/andybak/django-admin-notifications@master#egg=django-admin-notifications
number_to_string