{% extends "admin/app_index.html" %}<br />
{% block extrahead %}
<style>
  #content-related {
    background: unset !important;
  }
  .notification {
    padding: 1rem;
    border: 1px solid #cc4b37;
    border-radius: 4px;
    color: #cc4b37;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .notification a:link {
    color: #000000;
  }
  .notification a:link:hover {
    color: #2c3840;
  }
</style>
{% endblock %} {% block content %}<br />
{{ block.super }}
<div id="content-related">
  <div>
    <h1>Уведомления</h1>
    {% if notifications %} {% for notification in notifications %}
    <div class="notification">{{notification|safe}}</div>
    {% endfor %} {% else %} Уведомлений нет {% endif %}
  </div>
</div>
{% endblock %}<br />
{% block sidebar %}{{ block.super }}
<div>
  {% if employees %}
  <h1>Список сотрудников</h1>
  <table class="table table-light">
    <tbody>
      <tr>
        <th>ID</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Гражданство</th>
        <th>Действия</th>
      </tr>
      {% for employee in employees %}
      <tr>
        <td>
          <a href="/employees/employee/{{employee.id}}/change/"
            >{{employee.id}}</a
          >
        </td>
        <td>
          <a href="/employees/employee/{{employee.id}}/change/"
            >{{employee.surname}}</a
          >
        </td>
        <td>
          <a href="/employees/employee/{{employee.id}}/change/"
            >{{employee.name}}</a
          >
        </td>
        <td>
          <a href="/employees/employee/{{employee.id}}/change/"
            >{{employee.patronymic}}</a
          >
        </td>
        <td>
          <a href="/employees/employee/{{employee.id}}/change/"
            >{{employee.citizenship}}</a
          >
        </td>
        <td>{{employee.actions}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
